In [30]:
import requests
import pandas as pd
import yaml
import os
import datetime as dt 

from secrets_config import api_key

In [45]:
with open("config.yaml") as stream:
    config = yaml.safe_load(stream)

target_cities = config['extract']['target_cities']
salesResults_url = config['extract']['api_urls']['salesResults']
salesResults_listings_url = config['extract']['api_urls']['salesResults_listings']

In [46]:
params = {
    "api_key": api_key
}

for city in target_cities:
    response_data = []
    url = salesResults_url.replace('{city}', city)

    response = requests.get(url, params=params)

    if response.json() is not None: 
        response_data.extend(response.json())
        print(f"Status: {response.status_code} for {url}")

    temp_df = pd.concat([
                pd.DataFrame([[city, url, dt.datetime.now().strftime("%Y-%m-%dT%H:%M:%S.%fZ")]], 
                columns=['City', 'URL', 'Execution time']), 
                pd.json_normalize(data=response.json())], axis=1)

    if 'df_results' in locals():
        df_results = pd.concat([df_results, temp_df], ignore_index=True)
    else:
        df_results = temp_df

Status: 200 for https://api.domain.com.au/v1/salesResults/Sydney
Status: 200 for https://api.domain.com.au/v1/salesResults/Melbourne
Status: 200 for https://api.domain.com.au/v1/salesResults/Adelaide

In [47]:
df_results

,City,URL,Execution time,auctionedDate,lastModifiedDateTime,adjClearanceRate,median,numberAuctioned,numberListedForAuction,numberSold,numberUnreported,numberWithdrawn,totalSales
0,Sydney,https://api.domain.com.au/v1/salesResults/Sydney,2022-09-28T20:04:41.831130Z,2022-09-24,2022-09-28T13:03:58.418Z,0.600000,1420000,585,725,351,11,130,357488588
1,Sydney,https://api.domain.com.au/v1/salesResults/Sydney,2022-09-28T20:07:26.950689Z,2022-09-24,2022-09-28T13:03:58.418Z,0.600000,1420000,585,725,351,11,130,357488588
2,Melbourne,https://api.domain.com.au/v1/salesResults/Melb...,2022-09-28T20:07:28.653858Z,2022-09-24,2022-09-28T13:03:58.418Z,0.606061,1067500,66,97,40,0,11,28535100
3,Sydney,https://api.domain.com.au/v1/salesResults/Sydney,2022-09-28T20:12:11.631954Z,2022-09-24,2022-09-28T13:09:19.137Z,0.600000,1420000,585,725,351,11,130,357488588
4,Melbourne,https://api.domain.com.au/v1/salesResults/Melb...,2022-09-28T20:12:12.658230Z,2022-09-24,2022-09-28T13:09:19.137Z,0.606061,1067500,66,97,40,0,11,28535100
5,Sydney,https://api.domain.com.au/v1/salesResults/Sydney,2022-09-28T20:19:04.565114Z,2022-09-24,2022-09-28T13:14:34.38Z,0.600000,1420000,585,725,351,11,130,357488588
6,Melbourne,https://api.domain.com.au/v1/salesResults/Melb...,2022-09-28T20:19:06.274895Z,2022-09-24,2022-09-28T13:14:34.38Z,0.606061,1067500,66,97,40,0,11,28535100
7,Sydney,https://api.domain.com.au/v1/salesResults/Sydney,2022-09-28T20:19:45.243716Z,2022-09-24,2022-09-28T13:14:34.38Z,0.600000,1420000,585,725,351,11,130,357488588
8,Melbourne,https://api.domain.com.au/v1/salesResults/Melb...,2022-09-28T20:19:46.355364Z,2022-09-24,2022-09-28T13:14:34.38Z,0.606061,1067500,66,97,40,0,11,28535100
9,Adelaide,https://api.domain.com.au/v1/salesResults/Adel...,2022-09-28T20:19:47.452186Z,2022-09-24,2022-09-28T13:14:34.38Z,0.717949,749000,39,49,28,2,1,15361000